body {
    background: #111;
    color: white;
}
  
.cinema {
    padding-top: 60px;
    width: 600px;
    margin: auto;
}

table {
    border-collapse:separate;
    border-spacing: 10px;
}

.cell {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    /* border: 1px solid gray; */
}
.seat {
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
    cursor: pointer;
}

.selected {
    background: linear-gradient(to top,  black, orange);
}
.booked {
    background: linear-gradient(to top,  black,  red);
}
.seat.booked:hover {
    background: linear-gradient(to top,  black, gray);
    cursor: not-allowed;
}

.popup {
    background-color: orange;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 20px;
}

.exit {
    position: absolute;
    right: 3px;
    top: 3px;
}

.flashlight {
    background-color: transparent;
    border: none;
}

.highlight {
    background: linear-gradient(to top,  black, cyan);
}